/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/App.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.App_appContainer__DF9F3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #f8f9fa;
}

.App_themeSwitcher__NzikD {
  margin: 1rem;
}

.App_themeSwitcher__NzikD select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.App_appContainer__DF9F3.App_light__FaT2Y {
  background-color: #f8f9fa;
  color: black;
}

.App_appContainer__DF9F3.App_dark__Beafz {
  background-color: #333;
  color: white;
}

.App_topSection___Icv2 {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.App_flyout__wBgZL {
  width: 50%;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.App_flyout__wBgZL button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.02rem;
}

.App_flyout__wBgZL button:hover {
  background-color: #e60000;
}

.App_bottomSection__00jpD {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.App_contentWrapper__EkmZk {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@media (max-width: 800px) {
  .App_bottomSection__00jpD {
    border: 1px solid black;
    display: block;
    justify-content: center;
  }
  .App_searchContainer__E3nyv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

