/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/search/Search.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Search_searchContainer__qWGhd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Search_searchContainer__qWGhd input {
  font-size: 1rem;
  padding: 0.5rem;
  flex: 1 1;
}

.Search_searchContainer__qWGhd button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

@media (max-width: 800px) {
  .Search_search-container__Un_43 {
    flex-direction: column;
    align-items: stretch;
  }

  .Search_searchContainer__qWGhd input,
  .Search_searchContainer__qWGhd button {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .Search_searchContainer__qWGhd button:last-child {
    margin-bottom: 0;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/card-list/CardList.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.CardList_cardList__eh1JQ {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.CardList_card__zb5nD {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(50% - 1rem);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.CardList_card__zb5nD label {
  display: flex;
  align-items: center;
}

.CardList_cardName__gBGbw {
  margin-left: 0.5rem;
  cursor: pointer;
}

.CardList_clearButton__vc7uA {
  display: flex;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer

}

.CardList_clear-button__5w5gz:hover {
  background-color: #0056b3;
}

@media (max-width: 800px) {
  .CardList_card-list__HFtCX {
    flex-direction: column;
    align-items: center;
  }

  .CardList_card__zb5nD {
    flex: 1 1 100%;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/detailed-card/DetailedCard.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.DetailedCard_detailedCard__vzVIB {
  flex: 0 0 30%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1.25rem;
  background-color: orange;
  box-sizing: border-box;
}

.DetailedCard_detailedCard__vzVIB button {
  margin-top: 0.625rem;
  align-self: flex-start;
  border-radius: 0.25rem;
  background-color: lightgray;
  padding: 0.5rem;
  color: red;
}

.DetailedCard_detailedCard__vzVIB button:hover {
  background-color: white;
}

.DetailedCard_detailedCard__vzVIB img {
  max-width: 100%;
  height: auto;
}

.DetailedCard_detailedCard__vzVIB p {
  word-wrap: break-word;
  max-width: 100%;
  text-align: justify;
}

@media (max-width: 800px) {
  .DetailedCard_content-wrapper__lbu61 {
    flex-direction: column;
    align-items: center;
  }

  .DetailedCard_detailedCard__vzVIB {
    width: 85%;
    padding: 0.625rem;
    margin-top: 1.25rem;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/components/pagination/Pagination.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_pagination__Oz_jP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.Pagination_paginationButton__8otb6, .Pagination_paginationArrow__Fswvh {
  border: none;
  background-color: #f0f0f0;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Pagination_pagination-button__EFZxA:hover, .Pagination_pagination-arrow__W_Tcy:hover {
  background-color: #d0d0d0;
}

.Pagination_pagination-button__EFZxA.Pagination_active__tC2QX {
  background-color: #007bff;
  color: white;
}

.Pagination_pagination-button__EFZxA:disabled, .Pagination_pagination-arrow__W_Tcy:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/home/App.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.App_appContainer__sdLyj {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #f8f9fa;
}

.App_themeSwitcher__bW7Vw {
  margin: 1rem;
}

.App_themeSwitcher__bW7Vw select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.App_appContainer__sdLyj.App_light__INB3Q {
  background-color: yellow;
  color: black;
}

.App_appContainer__sdLyj.App_dark__jGe1G {
  background-color:brown;
  color: white;
}

.App_topSection__oDqXY {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.App_flyout__T1_OY {
  width: 50%;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.App_flyout__T1_OY button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.02rem;
}

.App_flyout__T1_OY button:hover {
  background-color: #e60000;
}

.App_bottomSection__q4RxQ {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.App_contentWrapper__QyQpM {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@media (max-width: 800px) {
  .App_bottomSection__q4RxQ {
    border: 1px solid black;
    display: block;
    justify-content: center;
  }
  .App_searchContainer___sVtK {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

